  <footer class="hero__footer">
      <span>Invite ME! &copy;2025</span>
      <span class="footer__brand">Invite ME!</span>
      <a href="https://www.flaticon.es/iconos-gratis/linkedin" title="linkedin iconos">Linkedin iconos creados por riajulislam - Flaticon</a>
      <a href="https://www.flaticon.es/iconos-gratis/github" title="github iconos">Github iconos creados por Roundicons - Flaticon</a>
      <a href="https://www.flaticon.es/iconos-gratis/github" title="github iconos">Github iconos creados por Pixel perfect - Flaticon</a>
    </footer>
    <load src="./footer.html"