<main class="main-page">
  <section class="hero">
    <h2 class="hero__subtitle">Crea tu invitación personalizada</h2>
    <p class="hero__desc">Crea mejores conexiones de forma fácil y cómoda</p>
    <div class="hero__steps">
      <div class="step">
        <img src="./images/icons8-rellenar-el-formulario-100.png" alt="icono rellenar"/>
        <span>Rellena</span>
      </div>
      <div class="step">
        <img src="./images/Diseña.png" alt="icono diseñar"/>
        <span>Diseña</span>
      </div>
      <div class="step">
        <i class= "fi" fi-br-download></i>
        <img src="./images/cloud-arrow-down-solid-full.svg" alt="icono descarga"/>
        <span>Descarga</span>
      </div>
    </div>
    <button class="hero__btn" id="startBtn"><a href="../design.html">COMENZAR</a></button>
  </section>
</main>